:root {
  --color-primary: #00ad6a;
  --color-secondary: #eafaf1;
  --color-accent: #1fe374;
  --color-dark: #080c16;
  --color-light: #d6dae5;
  --color-background: #fcfcfc;
}

body {
  background-color: #fcfcfc !important;
}




#nav-pulseapp {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar-right {
  display: flex;
  flex: row;
  flex-wrap: nowrap;
  gap: 15px;
  margin-right: 5%;
}

#logo-pulse {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10fr;
  padding: 3%;


}


.header-color {
  color: #00ad6a;
  font-weight: bold;

}

.header-color:hover {
  cursor: pointer;
}

.header-color:active {
  color: #080c16;
}



button {
  border: none;
  color: #00ad6a;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  font-weight: bold;
}

button:hover {
  border: solid;
  border-color: #00ad6a;
}

#text-30-days {
  margin-top: 5%;
  font-weight: bolder !important;
  font-size: larger;
  color: #080c16;
}

#text-See-why {
  color: #080c16 !important;
}

#grid-item-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#grid-1 {
  display: flex;
  justify-content: center;
}

#grid-2 {
  display: flex;
  justify-content: center;
  border: solid;
  border-color: #00ad6a;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

}

#grid-3 {
  display: flex;
  justify-content: center;
}

#recommended {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;
  padding: 1%;
  background-color: #00ad6a !important;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  font-size: x-small;
  color: white;
}

#faq {
  font-weight: bold;
  margin-left: 10%;
  margin-bottom: -8%;
}

#text-subvert {
  color: #00ad6a;
  font-size: small;
  margin-bottom: 5px !important;
}

#m-pulse-text {
  margin-top: 0;

}

#background-1 {
  background-color: #eafaf1;
}

#grid-item-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid */
  gap: 2%;
  padding: 10%;
}

#background-3 {
  background: #080c16;
}

#grid-item-4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5%;
}

#button-sign-up {
  background: #00ad6a;
  color: #080c16;
  margin-top: 10%;
}

#button-sign-up:active {
  opacity: 0.5;
}

#right-text-footer {
  margin-top: 30%;
  font-size: x-small;
  color: #d6dae5;
}

#grid-item-5 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10%;
  gap: 3%;
}

.grid-items-5 {
  display: flex;
  justify-content: center;
  color: #00ad6a;
  cursor: pointer;
}